/* {
  background-color: yellow;
}
*/

 .test {
  background-color: blue;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.test2 {
  background-color: green;
}

.january {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.february {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.march {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.april {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.may {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.june {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.july {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.august {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.september {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.october {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.november {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.december {
  background-color: inherit;
  background-image:url("https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
